:root {
  --my-peach: #FFBDE9;
  --my-orange: #FBC10F;
  --my-orange-t: #FBC10F55;
  --my-red: #ED2224;
  --my-yellow: #DFFF18;
  --my-pink: #FF00E5;
  --my-blue: #00F0FF;
  --my-dark-red: #CB0002;
  --my-dark-red-t: #CB000244;
}

h1, h2 {
  font-weight: 900;
}

p {
  font-weight: 500;
  font-size: 14px;
}

section {
  min-height: 100vh;
}


#projects {
  margin-top: 50px;
  position: relative;
  overflow: unset;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr [col-start] 4fr;
  align-items: center;
  align-items: start;
  mix-blend-mode: darken;
}


#projects #projects-header {
  position: sticky;
  top: 10vh;

  left: 20vh;
  color: #FFF;
  grid-column: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 15px -10px #000;
  width: 300px;
}

#projects-header h1 {
  width: auto;
  background-color: #000;
  padding: 50px 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

#project-menu li a {
  transition-duration: .2s;
}
#project-menu li {
  transition-duration: .2s;
}
#project-menu a {
  text-decoration: none;
  font-weight: 500;
  padding: 5px 0;
}

#project-menu li:nth-child(2n) a{
  color: var(--my-yellow);
}

#project-menu li:nth-child(2n+1) a{
  color: var(--my-pink);
}

#project-menu li:nth-child(2n) {
  background-color: var(--my-pink);
}
#project-menu li:nth-child(2n+1) {
  background-color: var(--my-yellow);
}

#project-menu li:hover  {
  background-color: var(--my-blue);
}
#project-menu li:hover a {
  color: var(--my-pink);
}

#projects ul {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-self: right;
}

#projects li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#project-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vw 0; 
  box-shadow: 0 15px 20px -15px #000;
  transition-duration: .2s;
}



#projects li div {
  width: max(10vw, 200px);
  height: max(10vw, 200px);
}

#projects li img {
  margin: max(2vw, 25px);
  width: max(10vw, 150px);
  height: max(10vw, 150px);
}


#projects li div {
  display: flex;
  align-items: center;
  justify-content: center;
}


#projects ul h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  opacity: 1;
  position: static;
  transition-duration: .2s;
}

#projects li:hover h2 {
  opacity: 0;
  position: absolute;
  width: 200px;
  transition-duration: .2s;
}

#projects li p {
  opacity: 0;
  width: 180px;
  position: absolute;
  transition-duration: .2s;
  text-align: center;
}

#projects li:hover p {
  opacity: 1;
  position: static;
  transition-duration: .2s;
}


#project-list li:nth-child(2n) {
  background-color: var(--my-pink);
  color: var(--my-yellow);
}
#project-list li:nth-child(2n+1) {
  background-color: var(--my-yellow);
  color: var(--my-pink);
}




@media (min-width: 850px) {

  #projects {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr [col-start] 2fr;
    align-items: center;
    align-items: start;
  }
    
  #projects ul:nth-child(2){
    grid-column: 2;
    justify-self: center;
  }

  
  #project-list li:hover {
    box-shadow: 15px 15px 15px -20px #000;
  }


  #projects #project-header {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
  }

  #project-menu {
    padding: 0;
    margin: 0;
  }

  #projects #project-menu li{
    margin: 0;
    padding: 10px 0;
    box-shadow: none;
  }
  
  #project-list li:hover {
    transform: translateY(10px);
  }

  #projects #project-menu li:hover {
    box-shadow: none;
  }
}

@media (min-width: 1100px) {
  #projects li {
    flex-direction: row; 
    transition-timing-function: ease-out;
  }
}






/* contact page */
#contact {
  display: flex;
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

.form-container {
  display: grid;
  column-gap: 0;
  padding: 5vw;
  justify-items: center;
  position: relative;
  grid-template-rows: 1fr 1fr;  
  grid-template-columns: 1fr;
  background-color: #000D;
  color: #FFF;
  box-shadow: 0 15px 30px -15px #000;
  width: 60vw;
  height: auto;
  margin: auto;
}

@media (min-width: 850px) {
  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50vh;
  }
}

.form-item {
  position: relative;
  display: grid;
  grid-template-rows: min-content auto;
  margin: 10px;
}

#info-container fieldset {
  border: 2px solid #FFFD;
  transition-duration: .2s;
  display: flex;
  flex-direction: column;
}

#info-container fieldset:hover {
  border: 2px solid var(--my-yellow);
}


.field-item {
  background-color: transparent;
  padding: 10px;
  transition-duration: .2s;
  font-weight: 700;
}

.field-item:hover {
  background-color: #0004;
  color: var(--my-yellow)
}

.field-item input[type="radio"]:checked+label {
  background-color: transparent;
  color: var(--my-yellow);
}

.field-item input[type="radio"] {
  display: none;
}


.form-item input {
  border: none;
  border-bottom: 2px solid #FFFD;
  color: var(--my-yellow);
  background-color: transparent;
  padding: 5px;
  transition-duration: .2s;
  font-family: montserrat, sans-serif;
  font-weight: 700;
}


.form-item:hover input, .form-item input:focus {
  outline: none;
  border-bottom: 2px solid var(--my-yellow);
  background-color: #0004;
}


#message-container {
  padding: 2vw 0;
  margin: 0;
  width: 80%;
  height: 70%;
  justify-self: center;
  align-self: center;
}

#message-container:hover #contact-message {
  border-left: 3px solid var(--my-yellow);
}


#contact-message {
  background-color: #0008;
  outline: none;
  border: none;
  border-left: 3px solid #FFFD;
  transition-duration: .2s;
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: var(--my-yellow);
  resize: none;
  width: 100%;
  height: 100%;
}


#contact-message:focus {
  background-color: #000D;
  border-left: 3px solid var(--my-yellow);
}


.form-container button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  color: #FFFD;
  padding: 20px 40px;
  font-family: montserrat, sans-serif;
  border: none;
  border-left: 2px solid #FFFD;
  outline: none;
  transition-duration: .3s;
}


.form-container button:hover {
  background-color: #000D;
  color: var(--my-yellow);
  border-left: 2px solid var(--my-yellow);
}